@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

body {
 display: flex;
 flex-direction: column;
 min-height: 100%;
 font-family: "Rubik", sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 30px;
 margin: 0;
 background-color: #FFFFFF;
 color: #444444;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  min-height: 166px;
  width: 1160px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  margin-left: 60px;
  width: 145px;
  height: 40px;
}

.page-header-logo {
  margin-top: 20px;

}

.menu-container {
  background-color: #FFE17F;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 46px;
}

.user-menu {
  display: flex;
  margin-bottom: 30px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-login {
  width: 231px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 26px;
}

.navigation-user-text {
  margin-left: 12px;
}

.navigation-sorting {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 240px;
  justify-content: space-between;
}

.navigation-login .navigation-link,
.navigation-sorting .navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-button {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  width: 293px;
  font-size: 18px;
  padding: 15px 57px 15px 0;
  background-color: #FFE17F;
  border: none;

}

.menu-list {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  list-style-type: none;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-wrapper {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
  margin-top: -15px;
}

.products-slider-container {
  display: grid;
  grid-template-rows: 148px auto min-content;
}

.content-slider-container {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
}

.slider-pagination {
  box-sizing: border-box;
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.slider-pagination-item {
  line-height: 12px;
  margin-right: 20px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  background-color: #FFFFFF;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-column1 {
  display: flex;
  width: 560px;
  margin-right: 40px;
}

.slider-column2 {
  margin-top: 121px;
  width: 560px;
}

.slider-button {
  width: 20px;
  height: 60px;
}

.navigation-services {
  width: 471px;
  justify-content: space-between;
}

.navigation-services .navigation-link  {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.search-form {
  height: 40px;
  width: 517px;
  margin-right: 26px;
}

.menu-list{
  background-color: #FFE17F;
}

.menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.product-namber-container {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #FFE17F;
  padding-top: 5px;
  padding-left: 861px;
  padding-right: 49px;
}

.product-namber {
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #FFFFFF;
  text-align: right;
  margin: 0;
}

.product  {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 138px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.product-item {
  height: 253px;
  width: 160px;
}

.product-1 {
  padding: 54px 31.05px 51.01px 32px;
}

.product-2 {
  padding: 44px 36.99px 1px 37.14px;
}

.product-3 {
  padding: 37px 44.98px 36px 44px;
}

.product-4 {
  padding: 47.86px 26.69px 47.15px 26px;
}

.product-5 {
  padding: 32px 51.99px 30.02px 52px;
}

.product-6 {
  padding: 46px 13.97px 44.99px 14px;
}

.product-announcement {
  font-family: "Raleway" ,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color:  #000000;
  margin: 0;
  margin-bottom: 29px;
}

.product-description {
  margin: 0;
  margin-bottom: 45px;
}

.more {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.product-features {
  display: flex;
  margin: 0;
}

.product-features .column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.product-features .column:last-child {
  margin-right: 0;
}

.product-features dt {
  font-weight: 400;
  font-size: 16px;
}

.product-features dd {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
  order: -1;
}

.product-img {
  display: block;
  background-color: #FFE17F;
  fill: rgb(54, 54, 54);
}

.product-link:hover .product-img {
  background-color: #FFC700;
}

.product-link:focus {
  outline: 2px solid #AF4FFF;
}

.product-link:active .product-img {
  background-color: rgba(255, 225, 127, 0.5)
}

.product-link:active .product-name {
  color: rgba(0, 0, 0, 0.5);
}

.product-link:active .product-img {
  fill: rgba(0, 0, 0, 0.5);
}

.product-name {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  height: 60px;
  width: 160px;
  position: absolute;
  letter-spacing: -0.02em;
  margin-top: 33px;
}

.button {
  display: inline-block;
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

.more-button {
  display: block;
  text-decoration: none;
  margin-right: 340px;
  margin-bottom: 45px;
}

.services {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.services-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  align-items: center;
}

.services-description {
  margin: 0;
  width: 475px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 287px;
  margin-right: 116px;
  margin-bottom: 64px;
  margin-top: 64px;
}

.services-item {
  margin-bottom: 35px;
}

.services-item:last-child {
  margin-bottom: 0;
}

.services-text-container {
  width: 694px;
  background-image: url(../images/main/delivery.svg);
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: center right  ;
}

.active {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-name {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 34px;
  width: 475px;
}

.delivery {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
}

.delivery-link {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.delivery-text {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 910px;
  letter-spacing: 0.2em;
}

.delivery-image {
  background: url("../images/main/truck.svg") no-repeat 47px 31.1px #FFE17F;
  width: 125px;
  height: 100px;
  background-position: 39px 33.9px;
}

.delivery-info-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  margin-left: 42.5px;
  margin-right: 42.5px;
  background-image: url(../images/main/information.svg);
  background-repeat: no-repeat;
}

.main-info-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-right: 23px;
}

.about-item {
  margin-bottom: 30px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.delivery-list {
  list-style-type: none;
  margin-top: 30px;
  padding-left: 34px;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
}

.delivery-item {
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.delivery-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  left: -34px;
  top: 6px;
  border-radius: 50%;
}

.black-line {
  background-color: #000000;
  width: 84px;
  height: 7px;
}

.delivery-item:last-child {
  margin-bottom: 0;
}

.about-link {
  display: block;
  text-decoration: none;
  margin-right: 250px;
  position: relative;
}

.about-link:hover::before {
  height: 40px;
  top: 0;
}

.about-link:focus {
  outline: 2px solid #AF4FFF;
}

.about-link:active::before {
  background-color: #FFC700;
}

.about-link::before {
  content: "";
  width: 270px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;
}

.contacts-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 48px;
}

.contacts-text {
  width: 500px;
  margin-top: 0;
  margin-bottom: 30px;

}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-addres {
  margin-bottom: 30px;
}

.contacts-addres-text {
  margin: 0;
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contact-link {
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 273px;
  text-decoration: none;
  position: relative;
}

.contact-link::before {
  content: "";
  width: 259px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;
}

.contact-link:hover::before {
  height: 40px;
  top: 0;
}

.contact-link:focus {
  outline: 2px solid #AF4FFF;
}

.contact-link:active::before {
  background-color: #FFCC33;
}



.subscribe {
  background-color: #F0F0F0;
}

.subscribe-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.subscribe-text-container {
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 144px;
}

.subscribe-form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.subscribe-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 348px;
  margin: 0;
  margin-left: 7px;
  margin-right: 252px;
}

.subscribe-details {
  width: 560px;
  margin: 0;
  margin-top: 10px;
}

.subscribe-details-free {
  margin: 0;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  padding-left: 32px;
}

.subscribe-details-free {
  background-image: url(../images/main/check-mark.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}

.newsletter-form {
  width: 810px;
}

.newsletter-button {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
}

.page-footer {
  background-color: #444444;
}

.page-footer-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  margin-top: 62px;
  margin-bottom: 61px;
}

.footer-addres-logo {
  display: block;
  margin-bottom: 35px;
}

.yellow-line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-services {
  margin-bottom: 62px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-services-social-container {
  margin-top: 75px;
  width: 454px;
  margin-right: 183px;
}

.footer-addres {
  width: 239px;
  margin-bottom: 64px;
  margin-right: 119px;
}

.footer-contacts-logo-container {
  margin-top: 72px;
  width: 175px;
}

.footer-navigation-services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-navigation-services-list .navigation-item {
  margin-right: 30px;
}

.footer-navigation-services-list .navigation-item:last-child {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
}

.footer-social-icon {
  position: absolute;
  top: 35%;
  left: 30%;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-addres-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
  margin: 0;
}

.navigation-footer {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-contacts {
  margin-bottom: 58px;
}

.footer-logo {
  display: block;
  margin-left: 60px;
}

.footer-logo:hover {
  color: #E5E5E5;

}

.footer-contacts-address-phone {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}

.footer-contacts-address-phone:hover {
  color: #FFC700;
}

.footer-social-button:hover {
  background-color: #FFC700;
}

.inner-header {
  margin: 0 auto;
  width: 1160px;
  margin-top: 35px;
  margin-bottom: 34px;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
  width: 541px;
  margin-left: 60px;
  margin-top: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  margin-right: 36px;
}

.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sorting-container {
  display: flex;
  padding: 20px 40px;
  background-color: #F0F0F0;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-left-column {
  margin-left: 60px;
  width: 320px;
}

.catalog-right-column {
  width: 840px;
}

.product-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 44px;
}

.filter-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product-card-title-link {
  text-decoration: none;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  flex-grow: 1;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  width: 226px;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  background-color: #F0F0F0;
}

.show-more {
  font-size: 16px;
  line-height: 19px;
  padding: 18px 290px;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
}

.pagination-page {
  padding: 10px 13px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}

.pagination-prev {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 25px;
  margin-right: 145.5px;
}

.pagination-next {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 25px;
  margin-left: 145.5px;
}

html {
  height: 100%;
}
