@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

body {
 display: flex;
 flex-direction: column;
 min-height: 100%;
 font-family: "Rubik", sans-serif;
 font-weight: 400;
 font-size: 18px;
 line-height: 30px;
 margin: 0;
 background-color: #FFFFFF;
 color: #444444;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  width: 1160px;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 60px;
}

.user-menu {
  display: flex;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 480px;
  margin-right: 60px;
  margin-left: auto;
}

.search-form {
  width: 517px;
  margin-left: 60px;
}

.main-menu {
  display: flex;
}

.navigation-button {
  width: 293px;
  margin-left: 60px;
}

.navigation-services {
  margin: 0;
  padding: 0;
  max-width: 471px;
  margin-left: auto;
  margin-right: 60px;
}

.menu-list {
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-conteiner {
  display: flex;
  justify-content: space-between;
}

.slider-column1 {
  width: 560px;
}

.slider-column2 {
  width: 560px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-user .navigation-link {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}

.menu-list{
  background-color: #FFE17F;
}

.menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.product-namber {
  font-weight: 800;
  font-size: 180px;
  color: #FFFFFF;
  text-align: right;
  background-color: #FFE17F;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.product-item {
  height: 253px;
  width: 160px;
}

.product-1 {
  padding: 54px 31.05px 51.01px 32px;
}

.product-2 {
  padding: 44px 36.99px 1px 37.14px;
}

.product-3 {
  padding: 37px 44.98px 36px 44px;
}

.product-4 {
  padding: 47.86px 26.69px 47.15px 26px;
}

.product-5 {
  padding: 32px 51.99px 30.02px 52px;
}

.product-6 {
  padding: 46px 13.97px 44.99px 14px;
}

.product-announcement {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color:  #000000;
}

.more {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.product-features dt {
  font-weight: 400;
  font-size: 16px;
}

.product-features dd {
  font-weight: 400;
  font-size: 36px;
}

.product-img {
  background-color: #FFE17F;
}

.product-name {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.button {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.more-button {
  text-decoration: none;
}

.services {
  background-color: #F0F0F0;
}

.services-name {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery {
  background-color: #F0F0F0;
}

.delivery-text {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.delivery-image {
  background-color: #FFE17F;
}

.about-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
}

.delivery-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-link {
  text-decoration: none;
}

.contacts-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-addres-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contact-link {
  text-decoration: none;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter-button {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  line-height: 21px;
}

.page-footer {
  background-color: #444444;
}

.footer-addres-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}

.navigation-footer {
  color: #FFFFFF;
}

.footer-contacts-address-phone {
  font-style: normal;
  color: #FFFFFF;
}

.inner-page-header {
  background-color: #FFE17F;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-products {
  background-color: #F0F0F0;
}

.product-list {
  background-color: #FFFFFF;
}

.filter-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.pagination-show-more {
  font-size: 16px;
  line-height: 19px;
  background-color: #FFFFFF;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
}

.pagination-prev {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

html {
  height: 100%;
}
